h1 {
    color: #63CAA7;
  
  }
  
  h2 {
    color: #26798E;
  }
  
  h4 {
    color: #63CAA7;
    color: #26798E;
  }
  
  img {
    color: #FFC172;
  
  }
  
  a{
    margin: 5px 5px 5px 3px;
  }




 
