h1 {
  color: #63CAA7;
  color: #00ced1;

}

h2 {
  color: #26798E;
}

h3 {
  color: #63CAA7;
}

h4 {
  color: #63CAA7;
  color: #26798E;
}

img {
  color: #FFC172;

}

a{
  margin: 5px 5px 5px 3px;
}

span{
  width: 13%;
}

.span1 {
  width: 100%;
}

.div1 {
  width: 200px;
}