{% extends "layout.html" %}

{% block content %}

{% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                <div class="alert alert-danger" role="alert">
                    {{message}}
                </div>
                {% endfor %}
            {% endif %}
{% endwith %}

<main>
    {% block conect %}
    <div class="container col-xxl-8 px-4 py-3">
        <form action="" method="POST">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <div class="col-sm-12 py-2">
                <h2 class="display-12 lh-1 mb-3">Panel de Administración</h2>

                  <div class="mb-3">
                    <label for="exampleInputPassword" class="form-label">Contraseña</label>
                    <input type="password" class="form-control text-muted"  placeholder="Contraseña" name="password" id="password" required>
                  </div>

            </div>
            <div class="d-grid">
                <button type="button submit" class="btn btn-outline-info">Ingresar</button>
            </div>
        </form>
    </div>
    {% endblock conect %}
</main>

{% endblock %}