{% extends "layout.html" %}

{% block content %}

{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-success" role="alert">
    {{message}}
</div>
{% endfor %}
{% endif %}
{% endwith %}

<main>

    <div class="container col-xxl-10 px-6 py-5">

        <div class=" container col-xxl-9 px-4 py-2">

            <h1 class="pb-2 border-bottom text-center mb-4">Bienvenid@ al Panel de Administración</h1>
            <div class="col-sm-12 py-3 p-3 alert alert-info" role="alert" >
                <p class="lead">*Recuerda que para modificar los datos de la tabla de corrección monetaria, 
                    estos deben ser ingresados o eliminados considerando todo el año, es decir, de Enero a Diciembre.</p>
                <p class="lead">*En el caso de la tabla de impuesto global complementario, deben considerarse 
                    todos los tramos respectivos del año a actualizar o eliminar.</p>
                
            </div>

        </div>


        <div class=" container col-xxl-10 px-4 py-2 mb-3" id="custom-cards">

            <div class="mb-3">

                <h2 class="display-12 text-center lh-1 mb-4">Tabla de Cálculo del Impuesto Global Complementario</h2>

            </div>

            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr class="table-info">

                            <th scope="col">Año</th>
                            <th scope="col">Desde</th>
                            <th scope="col">Hasta</th>
                            <th scope="col">Factor</th>
                            <th scope="col">Cantidad a rebajar</th>


                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            {% block conect %}

                            {% for item in contexto.datos %}

                            <td>{{item.4}}</td>
                            <td>{{item.0}}</td>
                            <td>{{item.1}}</td>
                            <td>{{item.2}}</td>
                            <td>{{item.3}}</td>


                        </tr>

                        {% endfor %}
                    </tbody>


                </table>
            </div>

            <div class="d-grid py-2 gap-2">
                <a href="{{  url_for('ingresaria') }}" class="btn btn-outline-info">Añadir datos</a>
            </div>

            <div class="d-grid py-2 gap-2">
                <a href="{{  url_for('eliminaria') }}" class="btn btn-outline-info">Eliminar datos</a>
            </div>

        </div>


        <div class="container col-xxl-10 px-4 py-2" id="custom-cards">

            <div class="mb-3">

                <h2 class="display-12 text-center lh-1 mb-4">Tabla Corrección Monetaria Mensual a Diciembre</h2>

            </div>

            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr class="table-info">

                            <th scope="col">Año</th>
                            <th scope="col">Desde</th>
                            <th scope="col">Hasta</th>
                            <th scope="col">Porcentaje</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>

                            {% for item in contexto.cm %}

                            <td>{{item.2}}</td>
                            <td>{{item.0}}</td>
                            <td>Diciembre</td>
                            <td>{{item.1}}</td>



                        </tr>

                        {% endfor %}
                    </tbody>

                    {% endblock conect %}
                </table>
            </div>

            <div class="d-grid py-2 gap-2">
                <a href="{{  url_for('ingresarcm') }}" class="btn btn-outline-info">Añadir datos</a>
            </div>

            <div class="d-grid py-2 gap-2">
                <a href="{{  url_for('eliminarcm') }}" class="btn btn-outline-info">Eliminar datos</a>
            </div>


        </div>

    </div>



</main>

{% endblock %}