{% extends "layout.html" %}

{% block content %}

{% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                <div class="alert alert-danger" role="alert">
                    {{message}}
                  </div>
                {% endfor %}
            {% endif %}
{% endwith %}

<main>

    <div class="container col-xxl-10 px-6 py-3">
        <h2 class="display-12 lh-1 mb-3">Cálculo Declaración de Renta Año {{ans.0.4}}</h2>
        <div class="col-sm-12 py-3 p-3 alert alert-info" role="alert" >
            <p class="lead">Rellena los recuadros de texto con la información correspondiente en cada caso.</p>
            <p class="lead">* Si aún no dispones de todos los datos de tus liquidaciones de sueldo y/o boletas
                de horarios hasta el mes de diciembre, deja las casillas en blanco, para realizar el cálculo en
                base a una proyección anual generada por nosotros.</p>
            <p class="lead">* Si hubo meses en los cuales no recibiste renta, por favor completar las casillas con
                ceros.</p>
        </div>

        <form method="post" action="/resultados/{{ans.0.4}}">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

            <div class="input-group mb-3">
                <span class="input-group-text">Enero</span>
                <input type="number" min="0" class="form-control" name="SIEnero" id="SIEnero" placeholder="Sueldo Imponible">
                <input type="number" min="0" class="form-control" name="IREnero" id="IREnero" placeholder="Impuestos Retenidos">
                <input type="number" min="0" class="form-control" name="HBEnero" id="HBEnero" placeholder="Honorarios Brutos">
                <input type="number" min="0" class="form-control" name="HREnero" id="HREnero" placeholder="Impuestos Retenidos">
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text">Febrero</span>
                <input type="number" min="0" class="form-control" name="SIFebrero" id="SIFebrero" placeholder="Sueldo Imponible">
                <input type="number" min="0" class="form-control" name="IRFebrero" id="IRFebrero" placeholder="Impuestos Retenidos">
                <input type="number" min="0" class="form-control" name="HBFebrero" id="HBFebrero" placeholder="Honorarios Brutos">
                <input type="number" min="0" class="form-control" name="HRFebrero" id="HRFebrero" placeholder="Impuestos Retenidos">
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text">Marzo</span>
                <input type="number" min="0" class="form-control" name="SIMarzo" id="SIMarzo" placeholder="Sueldo Imponible">
                <input type="number" min="0" class="form-control" name="IRMarzo" id="IRMarzo" placeholder="Impuestos Retenidos">
                <input type="number" min="0" class="form-control" name="HBMarzo" id="HBMarzo" placeholder="Honorarios Brutos">
                <input type="number" min="0" class="form-control" name="HRMarzo" id="HRMarzo" placeholder="Impuestos Retenidos">
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text">Abril</span>
                <input type="number" min="0" class="form-control" name="SIAbril" id="SIAbril" placeholder="Sueldo Imponible">
                <input type="number" min="0" class="form-control" name="IRAbril" id="IRAbril" placeholder="Impuestos Retenidos">
                <input type="number" min="0" class="form-control" name="HBAbril" id="HBAbril" placeholder="Honorarios Brutos">
                <input type="number" min="0" class="form-control" name="HRAbril" id="HRAbril" placeholder="Impuestos Retenidos">
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text">Mayo</span>
                <input type="number" min="0" class="form-control" name="SIMayo" id="SIMayo" placeholder="Sueldo Imponible">
                <input type="number" min="0" class="form-control" name="IRMayo" id="IRMayo" placeholder="Impuestos Retenidos">
                <input type="number" min="0" class="form-control" name="HBMayo" id="HBMayo" placeholder="Honorarios Brutos">
                <input type="number" min="0" class="form-control" name="HRMayo" id="HRMayo" placeholder="Impuestos Retenidos">
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text">Junio</span>
                <input type="number" min="0" class="form-control" name="SIJunio" id="SIJunio" placeholder="Sueldo Imponible">
                <input type="number" min="0" class="form-control" name="IRJunio" id="IRJunio" placeholder="Impuestos Retenidos">
                <input type="number" min="0" class="form-control" name="HBJunio" id="HBJunio" placeholder="Honorarios Brutos">
                <input type="number" min="0" class="form-control" name="HRJunio" id="HRJunio" placeholder="Impuestos Retenidos">
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text">Julio</span>
                <input type="number" min="0" class="form-control" name="SIJulio" id="SIJulio" placeholder="Sueldo Imponible">
                <input type="number" min="0" class="form-control" name="IRJulio" id="IRJulio" placeholder="Impuestos Retenidos">
                <input type="number" min="0" class="form-control" name="HBJulio" id="HBJulio" placeholder="Honorarios Brutos">
                <input type="number" min="0" class="form-control" name="HRJulio" id="HRJulio" placeholder="Impuestos Retenidos">
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text">Agosto</span>
                <input type="number" min="0" class="form-control" name="SIAgosto" id="SIAgosto" placeholder="Sueldo Imponible">
                <input type="number" min="0" class="form-control" name="IRAgosto" id="IRAgosto" placeholder="Impuestos Retenidos">
                <input type="number" min="0" class="form-control" name="HBAgosto" id="HBAgosto" placeholder="Honorarios Brutos">
                <input type="number" min="0" class="form-control" name="HRAgosto" id="HRAgosto" placeholder="Impuestos Retenidos">
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text">Septiembre</span>
                <input type="number" min="0" class="form-control" name="SISeptiembre" id="SISeptiembre" placeholder="Sueldo Imponible">
                <input type="number" min="0" class="form-control" name="IRSeptiembre" id="IRSeptiembre" placeholder="Impuestos Retenidos">
                <input type="number" min="0" class="form-control" name="HBSeptiembre" id="HBSeptiembre" placeholder="Honorarios Brutos">
                <input type="number" min="0" class="form-control" name="HRSeptiembre" id="HRSeptiembre" placeholder="Impuestos Retenidos">
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text">Octubre</span>
                <input type="number" min="0" class="form-control" name="SIOctubre" id="SIOctubre" placeholder="Sueldo Imponible">
                <input type="number" min="0" class="form-control" name="IROctubre" id="IROctubre" placeholder="Impuestos Retenidos">
                <input type="number" min="0" class="form-control" name="HBOctubre" id="HBOctubre" placeholder="Honorarios Brutos">
                <input type="number" min="0" class="form-control" name="HROctubre" id="HROctubre" placeholder="Impuestos Retenidos">
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text">Noviembre</span>
                <input type="number" min="0" class="form-control" name="SINoviembre" id="SINoviembre" placeholder="Sueldo Imponible">
                <input type="number" min="0" class="form-control" name="IRNoviembre" id="IRNoviembre" placeholder="Impuestos Retenidos">
                <input type="number" min="0" class="form-control" name="HBNoviembre" id="HBNoviembre" placeholder="Honorarios Brutos">
                <input type="number" min="0" class="form-control" name="HRNoviembre" id="HRNoviembre" placeholder="Impuestos Retenidos">
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text">Diciembre</span>
                <input type="number" min="0" class="form-control" name="SIDiciembre" id="SIDiciembre" placeholder="Sueldo Imponible">
                <input type="number" min="0" class="form-control" name="IRDiciembre" id="IRDiciembre" placeholder="Impuestos Retenidos">
                <input type="number" min="0" class="form-control" name="HBDiciembre" id="HBDiciembre" placeholder="Honorarios Brutos">
                <input type="number" min="0" class="form-control" name="HRDiciembre" id="HRDiciembre" placeholder="Impuestos Retenidos">
            </div>

            <div class="d-grid py-3 gap-2">
                <button type="button submit" class="btn btn-outline-info">Calcular</button>
            </div>

        </form>

    </div>

</main>


{% endblock %}