{% extends "layout.html" %}

{% block content %}

{% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                <div class="alert alert-success" role="alert">
                    {{message}}
                  </div>
                {% endfor %}
            {% endif %}
{% endwith %}

<main>

    <div class="container col-xxl-10 px-6 py-5">
        <h2 class="pb-2">Eliminar Datos en Tabla de Conversión Monetaria Mensual</h2>
        <p class="fs-5 text-dark mb-4">Rellene los recuadros de texto con la información correspondiente</p>

        <form method="post" action="/eliminarcm">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

            <div class="input-group mb-3">
                <select name=mes class="form-select" aria-label="Default select example">
                    <!-- agregar for con los años-->
                    <option selected>Desde</option>
                    <option name=mes value="Enero">Enero</option>
                    <option name=mes value="Febrero">Febrero</option>
                    <option name=mes value="Marzo">Marzo</option>
                    <option name=mes value="Abril">Abril</option>
                    <option name=mes value="Mayo">Mayo</option>
                    <option name=mes value="Junio">Junio</option>
                    <option name=mes value="Julio">Julio</option>
                    <option name=mes value="Agosto">Agosto</option>
                    <option name=mes value="Septiembre">Septiembre</option>
                    <option name=mes value="Octubre">Octubre</option>
                    <option name=mes value="Noviembre">Noviembre</option>
                </select>

                <input type="text" class="form-control" readonly="readonly" placeholder="Diciembre">
                <input type="number" step=".01" class="form-control" name="porcentaje" id="porcentaje"
                    placeholder="Porcentaje">
                <input type="number" class="form-control" name="anio" id="anio" placeholder="Año">
            </div>

            <div class="d-grid py-2 gap-2">
                <button type="button submit" class="btn btn-outline-info">Eliminar</button>
            </div>

        </form>

        <div class="container px-6 py-5">

            <h2 class="pb-2 text-center">Tabla Correción Monetaria Mensual a Diciembre</h2>

            <div class="container col-xxl-9 px-4 py-5" id="custom-cards">

                <div class="table-responsive">
                    <table class="table">

                        <thead>
                            <tr class="table-info">
                                <th scope="col">Año</th>
                                <th scope="col">Desde</th>
                                <th scope="col">Hasta</th>
                                <th scope="col">Porcentaje</th>
                            </tr>
                        </thead>

                        <tbody>
                            {% block conect %}
                            {% for item in contexto.cm %}
                            <tr>

                                <td>{{item.2}}</td>
                                <td>{{item.0}}</td>
                                <td>Diciembre</td>
                                <td>{{item.1}}</td>

                            </tr>
                            {% endfor %}
                            {% endblock conect %}
                        </tbody>

                    </table>
                </div>

            </div>

        </div>

    </div>
</main>

{% endblock %}