{% extends "layout.html" %}

{% block content %}

{% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                <div class="alert alert-success" role="alert">
                    {{message}}
                  </div>
                {% endfor %}
            {% endif %}
{% endwith %}

<main>

    <div class="container col-xxl-10 px-4 py-5">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
            <div class="col-10 col-sm-8 col-lg-6">
                <img src="static/img/impuestos.jpeg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes"
                    width="700" height="500" loading="lazy">
            </div>
            <div class="col-lg-6">
                <h1 class="display-12 fw-bold lh-1 mb-3">Bienvenid@ a TAX Help</h1>
                <h2 class="display-12 fw-bold lh-1 mb-3">Calcula tu Declaración de Renta con Nosotros</h2>


                <p class="lead">Te ayudamos a calcular tu declaración de renta del mes de abril correspondiente al año que desees. 
                    Solo debes ingresar los datos de tus liquidaciones de sueldo y/o boletas de honorario. Si aún no tienes
                    el total de tu renta bruta e impuestos retenidos anuales, calculamos tu declaración de renta en base a una
                     proyección estimada por nosotros.
                </p>

          

            </div>
        </div>

        <div class="d-grid gap-2 mb-4">

            {% for fila in anios %}
            <div class="d-grid gap-2">
                <a href="/calculo/{{fila.0}}" type="button" class="btn btn-outline-info">Ir a Calcular Declaración de
                    Renta
                    Año {{fila.0}}</a>
            </div>
            {% endfor %}


        </div>
    </div>

</main>

{% endblock %}